---
import LinkUnderlined from "../../../LinkUnderlined/LinkUnderlined.astro";
import Project from "./Project.astro";

const { experiencia, latest } = Astro.props;
---


<style>
  
/* Card container */
.card {
  position: relative;
  max-width: 80%;
  margin:auto;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--structureColor2);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  color: #000;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: var(--structureColor2);
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--structureColor2);
}
.subtitle {
  color: var(--structureColor2);
  position: relative;
  font-size: 1em;
}



/* text right if the card is even  */
.card:nth-child(even) > .outer > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .outer > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .outer > .info > .title::before {
  right: -45px;
}
/* text right if the card is even  */
.card:nth-child(even) > .outer > .info > .subtitle {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .outer > .info > .subtitle::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .outer > .info > .subtitle::before {
  right: -45px;
}
/* text right if the card is even  */
.card:nth-child(even) > .outer > .info > .a-timeline {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .outer > .info > .a-timeline::before {
  display: flex;
  justify-content: left;}

.card:nth-child(even) > .outer > .info > .a-timeline {
 display: flex;
 justify-content: right;
}

.outer{
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
}

</style>
<div class="card">
 <div class="outer">
  <div class="info">
    <h3 class="title  text-md md:text-lg font-bold">{experiencia.title}</h3>
    <h4 class="subtitle  text-md md:text-lg font-semibold">{!experiencia.actual ? `
    ${experiencia.date_ini.month} de ${experiencia.date_ini.year} - ${experiencia.date_fin.month} de ${experiencia.date_fin.year} ` : `${experiencia.date_ini.month} de ${experiencia.date_ini.year} -  Actualidad`} </h4>
    <LinkUnderlined text={experiencia.empresa.name} link={experiencia.empresa.link}  target="_blank" className="subtitle a-timeline "/>
    <p class="mt-3">{experiencia.description}</p>
  </div>
 </div>
</div>